<extend name="Common/back" />

<block name="content">

    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <a href="{:U('set')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i class="fa fa-plus"></i>
                    </a>
                    <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" id="button-delete" onclick ="confirm('确定删除吗？')? $('#form-list').submit(): false;">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
                <h1>商品管理</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="">首页</a>
                    </li>
                    <li>
                        <a href="#">商品管理</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i>
                        商品列表
                    </h3>
                </div>
                    <form action="{:U('multi')}" method="post" enctype="multipart/form-data" id="form-list">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center">
                                        <input type="checkbox" id="input-all"/>
                                    </td>
                                    <td class="text-left">
                                        商品系列
                                    </td>
                                    <td class="text-left">
                                        商品类型
                                    </td>
                                    <td class="text-left">
                                        是否上线
                                    </td>
                                    <td class="text-left">
                                        商品名称
                                    </td>
                                    <td class="text-left">
                                        商品价格
                                    </td>
                                    <td class="text-left">
                                        商品库存
                                    </td>
                                    <td class="text-left">
                                        商品主图像
                                    </td>
                                    <td class="text-left">
                                        缩略图路径
                                    </td>
                                    <td class="text-left">
                                        商品描述图
                                    </td>
                                    <td class="text-left">
                                        创建时间
                                    </td>
                                    <td class="text-right">管理</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="rows" id="row">
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="selected[]" value="{$row['goods_id']}" />
                                        </td>
                                         <td class="text-left">{$row['series_id']}</td> <td class="text-left">{$row['type_id']}</td> <td class="text-left">{$row['is_online']}</td> <td class="text-left">{$row['name']}</td> <td class="text-left">{$row['shop_price']}</td> <td class="text-left">{$row['stock']}</td> <td class="text-left">{$row['image']}</td> <td class="text-left">{$row['thumb']}</td> <td class="text-left">{$row['description']}</td> <td class="text-left">{$row['create_at']}</td>
                                        <td class="text-right">
                                                                                    <a href="{:U('set',['goods_id'=>$row['goods_id']])}" data-toggle="tooltip" title="编辑" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                                                </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        {$page_bar}
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="appendJs">
    <script>
    $(function(){
        $('#input-all').click(function(evt){
            $(":checkbox[name='selected[]']").prop('checked',$(this).prop('checked'));
        });
    });

    </script>
</block>