<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>baobaowan</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/myreset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pay-finish.css"/>
		<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
		<script src="__PUBLIC__/Home/js/tools.js"></script>
	</head>

	<body>
		<div class="header"></div>
		
		<div class="pay-finish-content">
			<div></div>
			<p>订单交易完成</p>
			<p>
				<span>总价：</span>
				<span>¥9900.00</span>
			</p>
			<p>
				<span>商户订单号：</span>
				<span>99999999999</span>
			</p>
			<p>
				<span>支付宝交易单号：</span>
				<span>888888888888</span>
			</p>
			<p>
				<h1>请进入微信查看订单状态</h1>
			</p>
			<!--<a href="all-orders.html">查看订单</a>
			<a href="index.html">返回首页</a>
			<p>
				<span>交易方式：</span>
				<span>微信支付</span>
			</p>
			<p>
				<span>订单完成时间：</span>
				<span>2017-04-21</span>
			</p>-->
		</div>
		
		<!--placeholder 占位元素-->
		<div class="placeholder"></div>

		<!--menu-->
		<ul class="menu" id="menu">
			<li>
				<a href="index.html">
					<img src="__PUBLIC__/Home/img/shouye_defauflt@2x.png" alt="" />
					<span>首页</span>
				</a>
			</li>
			<li>
				<a href="series.html">
					<img src="__PUBLIC__/Home/img/xilie_defauflt@2x.png" alt="" />
					<span>系列</span>
				</a>
			</li>
			<li>
				<a href="shop-car.html">
					<img src="__PUBLIC__/Home/img/gouwuche_defauflt@2x.png" alt="" />
					<span>购物车</span>
				</a>
			</li>
			<li>
				<a href="../User/my.html">
					<img src="__PUBLIC__/Home/img/wode_pressed@2x.png" alt="" />
					<span>我的</span>
				</a>
			</li>
		</ul>

		<!--js-->
		
	</body>

</html>