<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>baobaowan</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/myreset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zhifubao.css" />
		<script src="__PUBLIC__/Home/js/tools.js"></script>
	</head>

	<body>
		<div class="img_zhishi">
			
		</div>
		
		<div class="img_logo">
			
		</div>
		
		<div class="text_content ">
			<p>请点击右上角</p>
			<p>“在浏览器中打开”完成购买</p>
		</div>
		
		<div class="procedure">
			<p>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</p>
		</div>
	</body>

</html>