<extend name="Common/back" />

<block name="content">

    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <a href="{:U('set')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i class="fa fa-plus"></i>
                    </a>
                    <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" id="button-delete" onclick ="confirm('确定删除吗？')? $('#form-list').submit(): false;">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
                <h1>订单状态管理</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="">首页</a>
                    </li>
                    <li>
                        <a href="#">订单状态管理</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i>
                        订单状态列表
                    </h3>
                </div>
                    <form action="{:U('multi')}" method="post" enctype="multipart/form-data" id="form-list">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center">
                                        <input type="checkbox" id="input-all"/>
                                    </td>
                                                                        <td class="text-left">
                                        ID
                                    </td>                                    <td class="text-left">
                                        标题
                                    </td><td class="text-left">
   <a href="{:sortU('list',$filter,$sort,'sort_number')}" class="{:sortClass($sort,'sort_number')}">排序</a>
</td>
                                    <td class="text-right">管理</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="rows" id="row">
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="selected[]" value="{$row['order_statu_id']}" />
                                        </td>
                                         <td class="text-left">{$row['order_statu_id']}</td> <td class="text-left">{$row['title']}</td> <td class="text-left">{$row['sort_number']}</td>
                                        <td class="text-right">
                                                                                    <a href="{:U('set',['order_statu_id'=>$row['order_statu_id']])}" data-toggle="tooltip" title="编辑" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                                                </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        {$page_bar}
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="appendJs">
    <script>
    $(function(){
        $('#input-all').click(function(evt){
            $(":checkbox[name='selected[]']").prop('checked',$(this).prop('checked'));
        });
    });

    </script>

    <script>
        //前端删除
//        $(function(){
//            $('#button-delete').click(function(evt){
//                if(confirm('确定删除吗？')){
//                    $('#form-list').submit();
//                }
//            });
//        });
    </script>
</block>