<extend name="Common/back" />

<block name="content">
    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <button type="submit" form="form-brand" data-toggle="tooltip" title="保存" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                    </button>
                    <a href="{:U('list')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
                <h1>主页面轮播图</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{:U('Manage/index')}">首页</a>
                    </li>
                    <li>
                        <a href="#">主页面轮播图</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>
                        设置主页面轮播图
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{:U('set')}" method="post" enctype="multipart/form-data" id="form-brand" class="form-horizontal">
                        <if condition="isset($data['banner_id'])">
                            <input type="hidden" name="banner_id" value="{$data['banner_id']}" id="input-banner_id">
                        </if>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-general" data-toggle="tab">基本信息</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-general">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-image">首页轮播图</label>
                                    <div class="col-sm-6">
                                        <input type="hidden" name="image" id="input-image-value" value="{$data['image']}">
                                        <input type="hidden" name="banner_thumb" id="input-banner_thumb-value" value="{$data['banner_thumb']}">
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>添加轮播图</span>
                                            <!-- The file input field used as target for the file upload widget -->
                                            <input id="input-image" name="banner" type="file" data-uploadurl="{:U('upload')}">
                                        </span>
                                        <if condition="isset($message['image'])">
                                            <label for="input-image" class="text-danger">{$message['image']}</label>
                                        </if>
                                    </div>
                                    <div class="class-sm-4">
                                        <img src="__PUBLIC__/Thumb/{$data['banner_thumb']}" alt="" id="show-type" class="img-thumbnail" style="max-height: 50px; <if condition = "$data['banner_thumb'] eq ''">display:none;</if>" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-sort_number">排序</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sort_number" value="{$data['sort_number']}" placeholder="排序" id="input-sort_number" class="form-control" data-remoteurl="{:U('ajax')}"/>
                                        <if condition="isset($message['sort_number'])">
                                            <label for="input-sort_number" class="text-danger">{$message['sort_number']}</label>
                                        </if>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<<block name="appendJs">
    <script src="__PUBLIC__/Back/jqueryFileUpload/js/vendor/jquery.ui.widget.js"></script>
    <script src="__PUBLIC__/Back/jqueryFileUpload/js/jquery.fileupload.js"></script>
    <!--<script src="__PUBLIC__/Back/validate/jquery.validate.min.js"></script>-->
    <!--<script src="__PUBLIC__/Back/validate/additional-methods.min.js"></script>-->
    <!--<script src="__PUBLIC__/Back/validate/localization/messages_zh.min.js"></script>-->

    <script>
        //商品描述图的上传
        $(function() {
            $('#input-image').fileupload({
                // 负责完成动作
                url: $('#input-image').data('uploadurl'),
                dataType: 'json',
                // 上传成功后, 回调的函数,
                done: function(evt, response) {
                    var data = response.result;
                    if(0 === data.error) {
                        // 将图像反显
                        $('#show-type').attr('src', $('body').data('public') + '/Thumb/' + data.banner_thumb).show();
                        $('#input-image-value').val(data.image);
                        $('#input-banner_thumb-value').val(data.banner_thumb);
                    }
                }
            });
        })
    </script>

</block>
<block name="appendCss">
    <link href="__PUBLIC__/Back/jqueryFileUpload/css/jquery.fileupload.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="__PUBLIC__/Back/jqueryFileUpload/css/jquery.fileupload-ui.css" type="text/css" rel="stylesheet" media="screen" />

</block>