body {
  background: #f5f5f5;
}
.delivery-address {
  padding: 0 .12rem;
  margin-top: .06rem;
  background: #fff;
  font-size: .15rem;
  color: #333;
  text-align: left;
}
.delivery-address > li {
  min-height: .3rem;
  line-height: .3rem;
  padding: .2rem 0;
}
.delivery-address > li:not(:last-child) {
  border-bottom: 1px solid #ededed;
}
.delivery-address > li > span {
  display: inline-block;
  width: .65rem;
  margin-left: .05rem;
  vertical-align: middle;
}
.delivery-address > li > input {
  vertical-align: middle;
  margin-left: .18rem;
  font-size: .15rem;
  height: .15rem;
  color: #333;
}
.delivery-address > li > div {
  display: inline-block;
  margin-left: .18rem;
  width: 65%;
  height: .16rem;
  line-height: .16rem;
  color: #333;
}
.delivery-address > li:nth-child(3) {
  position: relative;
}
.delivery-address > li:nth-child(3):after {
  content: "";
  position: absolute;
  width: .07rem;
  height: .155rem;
  background: url(../img/jiantou@2x.png) no-repeat center;
  background-size: 100%;
  right: 0;
  top: 0.175rem;
}
.delivery-address > li:last-child > span {
  vertical-align: top;
}
.delivery-address > li:last-child > textarea {
  border: none;
  outline: none;
  vertical-align: top;
  font-size: .14rem;
  width: 3.5rem;
  height: 1.15rem;
  color: #999;
  line-height: .2rem;
}
.delivery-address > li:last-child .active {
  color: #333;
}
.save {
  position: absolute;
  width: 88%;
  bottom: .8rem;
  left: 6%;
  height: .49rem;
  background: #2b2b2b;
  border-radius: .245rem;
  font-size: .18rem;
  line-height: .49rem;
}
.save > a {
  display: block;
  color: #fff;
}
.sub {
  display: none;
}
.alert-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  font-size: .14rem;
}
.alert-bg .alert-address {
  position: absolute;
  top: .545rem;
  left: .325rem;
  width: 82.6667%;
  height: 73.5%;
  background: #fff;
  border-radius: .045rem;
  padding: .12rem 0;
  overflow: auto;
}
.alert-bg .alert-address > p {
  height: .495rem;
  line-height: .495rem;
  color: #DCB469;
  font-size: .15rem;
  border-bottom: 1px solid #ebebeb;
}
.alert-bg .alert-address ul {
  padding: 0 .12rem;
}
.alert-bg .alert-address ul li {
  height: .44rem;
  line-height: .44rem;
  text-align: left;
  padding-left: .03rem;
  position: relative;
}
.alert-bg .alert-address ul li:after {
  content: "";
  position: absolute;
  width: .16rem;
  height: .16rem;
  background: url(../img/defauflt.png) no-repeat center;
  background-size: 100%;
  right: 0;
  top: 0.175rem;
}
.alert-bg .alert-address ul li:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.alert-bg .alert-address ul li > a {
  color: #333;
}
.alert-bg .alert-address ul .li-active:after {
  content: "";
  position: absolute;
  width: .16rem;
  height: .16rem;
  background: url(../img/pressed.png) no-repeat center;
  background-size: 100%;
  right: 0;
  top: 0.175rem;
}
