.detail-img {
  position: relative;
  width: 93.6%;
  height: 3.1rem;
  margin: 0 auto;
  margin-top: .12rem;
  overflow: hidden;
}
.detail-img .banner-images {
  position: absolute;
  width: 500%;
  height: 3.1rem;
}
.detail-img .banner-images > img {
  display: block;
  float: left;
  width: 20%;
}
.detail-img .pagination-content {
  position: absolute;
  bottom: .15rem;
  left: 41%;
  width: .63rem;
  height: .08rem;
}
.detail-img .pagination-content > span {
  box-sizing: border-box;
  display: block;
  float: left;
  width: .08rem;
  height: .08rem;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.detail-img .pagination-content > span:not(:first-child) {
  margin-left: .1rem;
}
.detail-img .pagination-content > span.active {
  background: #fff;
}
.detail-title {
  width: 100%;
  height: 1.29rem;
  background: #fff;
  font-size: .15rem;
  overflow: hidden;
}
.detail-title > p:first-child {
  margin-top: .2rem;
  color: #999;
}
.detail-title > p:nth-child(2) {
  margin-top: .1rem;
  color: #333;
}
.detail-title .detail-price {
  box-sizing: border-box;
  display: inline-block;
  height: .29rem;
  margin: 0 auto;
  padding: 0 .15rem;
  margin-top: .2rem;
  line-height: .29rem;
  border: 1px solid #D8AE57;
  border-radius: .14rem;
  color: #D8AE57;
  font-size: .15rem;
}
.introduction {
  width: 100%;
}
.introduction > img {
  width: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: .49rem;
  font-size: .14rem;
  background: #fff;
}
.footer > li {
  float: left;
  height: 100%;
  line-height: .49rem;
}
.footer > li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer > li:first-child {
  width: .65rem;
  background: url(../img/shouye@2x.png) no-repeat center;
  background-size: 36%;
  margin-left: .15rem;
}
.footer > li:nth-child(2) {
  width: .65rem;
  background: url(../img/gouwuche@2x.png) no-repeat center;
  background-size: 40%;
}
.footer > li:last-child {
  float: right;
  width: 1rem;
  background: #ededf0;
  color: #333;
}
.footer > li:last-child a {
  color: #333;
}
.footer > li:nth-child(3) {
  float: right;
  width: 1rem;
  background: #2b2b2b;
  color: #fff;
}
.footer > li:nth-child(3) a {
  color: #fff;
}
.alert-bg {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  font-size: .16rem;
}
.alert-bg > .alert-content {
  position: absolute;
  bottom: -3rem;
  width: 100%;
}
.alert-bg > .alert-content > li {
  background: #fff;
}
.alert-bg > .alert-content > li:first-child {
  padding-left: .12rem;
  padding-right: .2rem;
  height: 1rem;
  border-bottom: 1px solid #EBEBEB;
  text-align: left;
}
.alert-bg > .alert-content > li:first-child > div:first-child {
  float: left;
  margin-top: -0.15rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: .06rem;
}
.alert-bg > .alert-content > li:first-child > div:first-child > img {
  width: .9rem;
  height: .9rem;
  margin-top: .05rem;
  margin-left: .05rem;
}
.alert-bg > .alert-content > li:first-child > div:last-child {
  float: right;
  width: 2.3rem;
}
.alert-bg > .alert-content > li:first-child > div:last-child > p:first-child {
  margin-top: .15rem;
  font-size: .14rem;
  color: #333;
}
.alert-bg > .alert-content > li:first-child > div:last-child > p:last-child {
  margin-top: .2rem;
}
.alert-bg > .alert-content > li:first-child > div:last-child > p > span:first-child {
  color: #666;
  font-size: .12rem;
}
.alert-bg > .alert-content > li:first-child > div:last-child > p > span:last-child {
  float: right;
  color: #DCB469;
  font-weight: 400;
}
.alert-bg > .alert-content > li:nth-child(2) {
  padding-left: .17rem;
  padding-right: .2rem;
  height: 1.095rem;
}
.alert-bg > .alert-content > li:nth-child(2) > span {
  display: block;
}
.alert-bg > .alert-content > li:nth-child(2) > span:first-child {
  float: left;
  margin-top: .36rem;
  color: #666;
  font-size: .15rem;
}
.alert-bg > .alert-content > li:nth-child(2) > span:last-child {
  float: right;
  margin-top: .3rem;
  line-height: .28rem;
  color: #333;
}
.alert-bg > .alert-content > li:nth-child(2) > span:last-child > a {
  box-sizing: border-box;
  display: block;
  float: left;
  width: .28rem;
  height: .28rem;
  border-radius: .02rem;
  line-height: .24rem;
}
.alert-bg > .alert-content > li:nth-child(2) > span:last-child > a:first-child {
  border: 1px solid #666;
  color: #666;
}
.alert-bg > .alert-content > li:nth-child(2) > span:last-child > a:last-child {
  border: 1px solid #333;
  color: #333;
}
.alert-bg > .alert-content > li:nth-child(2) > span:last-child > span {
  display: block;
  float: left;
  width: .4rem;
}
.alert-bg > .alert-content > li:last-child {
  height: .49rem;
  background: #262626;
  line-height: .49rem;
  font-size: .18rem;
  font-weight: 400;
}
.alert-bg > .alert-content > li:last-child > a {
  display: block;
  color: #fff;
}
