.banner {
  position: relative;
  width: 100%;
  height: 2.1rem;
  overflow: hidden;
}
.banner .banner-images {
  position: absolute;
  width: 500%;
  height: 2.1rem;
}
.banner .banner-images > img {
  display: block;
  float: left;
  width: 20%;
}
.banner .pagination-content {
  position: absolute;
  bottom: .15rem;
  left: 41%;
  width: .63rem;
  height: .08rem;
}
.banner .pagination-content > span {
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  width: .08rem;
  height: .08rem;
  float: left;
  border: .05px solid #ccc;
  border-radius: 100%;
}
.banner .pagination-content > span:not(:first-child) {
  margin-left: .1rem;
}
.banner .pagination-content > span.active {
  background: #fff;
}
.nav {
  width: 100%;
  height: 1.5rem;
  background: #fff;
  font-size: .13rem;
  color: #333;
  overflow: hidden;
}
.nav > ul {
  width: 100%;
  margin-top: .2rem;
}
.nav > ul > li {
  float: left;
  width: 20%;
  height: .6rem;
}
.nav > ul > li > a {
  display: block;
  padding-top: .4rem;
  color: #333;
}
.nav > ul > li:first-child {
  background: url(../img/jiezhi.png) no-repeat center 0;
  background-size: 35%;
}
.nav > ul > li:nth-child(2) {
  background: url(../img/shoulian.png) no-repeat center 0;
  background-size: 35%;
}
.nav > ul > li:nth-child(3) {
  background: url(../img/diaozui.png) no-repeat center 0;
  background-size: 33%;
}
.nav > ul > li:nth-child(4) {
  background: url(../img/ershi.png) no-repeat center 0;
  background-size: 26%;
}
.nav > ul > li:last-child {
  background: url(../img/quanbu.png) no-repeat center 0;
  background-size: 30%;
}
h1 {
  color: #262626;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
}
h1 .line-left {
  display: inline-block;
  width: .14rem;
  height: 1px;
  background: #DCB469;
  vertical-align: .04rem;
}
h1 .line-right {
  display: inline-block;
  width: .14rem;
  height: 1px;
  background: #DCB469;
  vertical-align: .04rem;
}
.nav-h-1 {
  font-size: .11rem;
  margin-top: .27rem;
}
.nav-h-2 {
  font-size: .12rem;
  margin-top: .07rem;
}
