* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
.banner {
  width: 100%;
  height: 0.85rem;
  background-color: #2c2c2c;
}
.banner img {
  float: left;
  padding-top: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  background-size: 100%;
  margin-left: 1.11rem;
}
.banner span {
  float: left;
  font-size: 0.17rem;
  margin-top: .3rem;
  margin-left: .1rem;
  color: #fff;
}
.personal-information {
  width: 100%;
  height: 0.875rem;
  background-color: #fff;
}
.personal-information img {
  margin-left: 0.06rem;
  background-size: 100%;
  height: 0.17rem;
  margin-top: 0.4rem;
  float: left;
}
.personal-information div {
  float: left;
  margin-left: 0.1rem;
}
.personal-information p:first-child {
  font-size: 0.15rem;
  margin-top: 0.25rem;
  text-align: left;
}
.personal-information p:first-child span:nth-child(2) {
  margin-left: 0.26rem;
}
.personal-information p:last-child {
  font-size: 0.14rem;
  margin-top: 0.12rem;
  color: #666;
}
.orders-list li:last-child > p {
  text-align: left;
}
.orders-list li:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.orders-list li:not(:last-child) div {
  border-bottom: 1px solid #f6f6f6;
  height: 100%;
}
.all-orders {
  margin-top: 0.06rem;
}
.orders-list li:last-child > p > span:last-child {
  color: #333;
}
.orders-list li:last-child {
  height: 0.88rem;
  border-bottom: 1px solid #f6f6f6;
}
.li-p1,
.li-p2 {
  font-size: 0.14rem;
}
.li-p1 {
  margin-top: 0.16rem;
}
.li-p2 {
  margin-top: 0.16rem;
}
.li-p1 span:first-child {
  padding-left: 0rem;
}
.li-p1 span:nth-child(2) {
  float: right;
}
.li-p2 span:first-child {
  padding-left: 0rem;
}
.li-p2 span:nth-child(2) {
  float: right;
}
.actual-payment {
  height: 0.44rem;
  line-height: 0.44rem;
  background-color: #fff;
  font-size: 0.14rem;
  padding: 0 .12rem;
  text-align: right;
}
.actual-payment p span:last-child {
  color: #DCB469;
  font-size: 0.16rem;
}
.message-list {
  background-color: #fff;
  font-size: 0.14rem;
}
.message-list ul {
  padding: 0 0.12rem;
}
.message-list ul li {
  height: 0.44rem;
}
.message-list ul li:first-child span:first-child {
  float: left;
  color: #333;
}
.message-list li span:first-child {
  float: left;
  color: #666;
}
.message-list li span:last-child {
  float: right;
  color: #666;
}
