body {
  background: #f5f5f5;
}
.header {
  width: 100%;
  height: 1.65rem;
  background: url(../img/beijing.png) no-repeat center;
  background-size: 100%;
}
.pay-finish-content {
  position: relative;
  font-size: .16rem;
}
.pay-finish-content > div:first-child {
  position: absolute;
  top: -0.4rem;
  left: 50%;
  margin-left: -0.4rem;
  width: .8rem;
  height: .8rem;
  border-radius: 100%;
  background: url(../img/dingdanjiaoyiwanc-.png) no-repeat center;
  background-size: 100%;
}
.pay-finish-content > p:nth-child(2) {
  padding-top: .64rem;
}
.pay-finish-content > p:nth-child(3) {
  margin-top: .3rem;
  font-size: .16rem;
}
.pay-finish-content > p:nth-child(3) > span:first-child {
  color: #000;
}
.pay-finish-content > p:nth-child(3) > span:last-child {
  color: #EA3B3B;
}
.pay-finish-content > a {
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: .15rem;
  width: 1rem;
  height: .33rem;
  border: 1px solid #2b2b2b;
  border-radius: .165rem;
  margin-top: .4rem;
  color: #2b2b2b;
  line-height: .33rem;
}
.pay-finish-content > a:nth-child(4) {
  margin-left: .6rem;
}
.pay-finish-content > a:nth-child(5) {
  margin-left: .55rem;
}
.pay-finish-content > p:nth-child(6) {
  margin-top: 1.78rem;
  color: #999;
  font-size: .15rem;
}
.pay-finish-content > p:last-child {
  margin-top: .21rem;
  color: #999;
  font-size: .15rem;
}
