.series-content {
  width: 93.6%;
  margin: 0 auto;
  margin-top: .12rem;
}
.series-content > li {
  width: 100%;
  height: .95rem;
  background: #eee;
  margin-bottom: .12rem;
  border-radius: .06rem;
}
.series-content > li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.series-content > li > a > img {
  width: 100%;
}
