body {
  background: #f5f5f5;
}
.shop-calr-list {
  font-size: .14rem;
  text-align: left;
  overflow: hidden;
}
.shop-calr-list li {
  position: relative;
  margin-top: .05rem;
  height: 1rem;
  padding: 0 .12rem 0 .1rem;
  background: #fff;
  left: 0;
}
.shop-calr-list li > span {
  display: block;
  float: left;
  margin-top: .4rem;
  margin-right: .06rem;
  width: .2rem;
  height: .2rem;
  background: url(../img/weixuanze2.png) no-repeat center;
  background-size: 100%;
}
.shop-calr-list li .active {
  background: url(../img/yixuanze2.png) no-repeat center;
  background-size: 100%;
}
.shop-calr-list li > img {
  margin-top: .13rem;
  float: left;
  width: .73rem;
  height: .73rem;
  border-radius: .04rem;
}
.shop-calr-list li > div:nth-child(3) {
  margin-top: .13rem;
  width: 2.4rem;
  float: right;
  color: #666;
  line-height: .16rem;
}
.shop-calr-list li > div:nth-child(3) > div:nth-child(2) {
  margin-top: .2rem;
  float: left;
  color: #333;
  font-size: .14rem;
}
.shop-calr-list li > div:nth-child(3) > div:last-child {
  margin-top: .18rem;
  float: right;
  font-size: .14rem;
  color: #333;
  text-align: center;
  line-height: .2rem;
}
.shop-calr-list li > div:nth-child(3) > div:last-child > a {
  box-sizing: border-box;
  display: block;
  float: left;
  width: .22rem;
  height: .22rem;
  border-radius: 100%;
  border: 1px solid #666;
  color: #333;
}
.shop-calr-list li > div:nth-child(3) > div:last-child > span {
  display: block;
  float: left;
  width: .3rem;
  height: .22rem;
  line-height: .22rem;
}
.shop-calr-list li > div:last-child {
  position: absolute;
  left: 100%;
  top: 0;
  width: .65rem;
  height: 100%;
  background: #ea3b3b;
  text-align: center;
  line-height: 1rem;
  font-size: .14rem;
  color: #fff;
}
.placeholder2 {
  position: fixed;
  bottom: .55rem;
  width: 100%;
  height: .44rem;
}
.settle-accounts {
  position: fixed;
  bottom: .55rem;
  z-index: 99;
  width: 100%;
  height: .44rem;
  background: #fff;
  font-size: .15rem;
}
.settle-accounts > div:first-child {
  margin-top: .13rem;
  float: left;
}
.settle-accounts > div:first-child > span {
  display: block;
  float: left;
  color: #000;
  line-height: .2rem;
}
.settle-accounts > div:first-child > span:first-child {
  margin-left: .08rem;
  margin-right: .08rem;
  width: .2rem;
  height: .2rem;
  background: url(../img/weixuanze2.png) no-repeat center;
  background-size: 100%;
}
.settle-accounts > div:first-child > span:first-child.active {
  background: url(../img/yixuanze2.png) no-repeat center;
  background-size: 100%;
}
.settle-accounts > div:last-child {
  float: right;
  height: 100%;
  line-height: .44rem;
}
.settle-accounts > div:last-child > span {
  display: block;
  float: left;
}
.settle-accounts > div:last-child > span:first-child {
  color: #8f8f8f;
}
.settle-accounts > div:last-child > span:nth-child(2) {
  color: #EA3B3B;
  margin-right: .08rem;
  font-size: .16rem;
}
.settle-accounts > div:last-child > a {
  display: block;
  float: left;
  width: 1rem;
  height: 100%;
  background: #2b2b2b;
  color: #fff;
  font-size: .14rem;
}
