
body{
	width: 100%;
	background-color: #fff;
}
.img_zhishi{
    background: url(../img/zhishi.png) no-repeat center;
    background-size: 100%;
    width: 0.6rem;
    height: 1rem;
    position: absolute;
    right: 0.39rem;
    top: 0.1rem;
}
.img_logo{
	background: url(../img/zfb_logo.png) no-repeat center;
    background-size: 100%;
    width: 1.035rem;
    height: 0.35rem;
    margin: 0 auto;
    margin-top: 1.39rem;
}
.text_content{
	font-size: 0.17rem;
	margin-top: 0.44rem;
	color: #333;
}
.text_content p:nth-child(2){
	margin-top: 0.14rem;
}
.procedure{
	margin-top: 1.85rem;
}
.procedure p:first-child{
	width: 100%;
	line-height: 0.35rem;
	height: 0.35rem;
	font-size: 0.14rem;
}
.procedure p:first-child span{
	float: left;
}
.procedure p:first-child span:first-child{
	
}
.procedure p:first-child span:first-child{
	display: block;
	background: url(../img/gengduo.png);
	background-size: 100%;
	width: 0.35rem;
	height: 0.35rem;
	margin-left: 0.25rem;
}
.procedure p:first-child span:nth-child(2){
	display: block;
	background: url(../img/jiantou.png);
	background-size: 100%;
    width: 0.33rem;
    height: 0.1rem;
    margin-left: 0.375rem;
    margin-top: 0.12rem;
}
.procedure p:first-child span:nth-child(3){
	display: block;
	background: url(../img/liulanqi.png);
	background-size: 100%;
	width: 0.35rem;
	height: 0.35rem;
	margin-left: 0.375rem;
}
.procedure p:first-child span:nth-child(4){
	display: block;
	background: url(../img/jiantou.png);
	background-size: 100%;
    width: 0.33rem;
    height: 0.1rem;
    margin-left: 0.375rem;
    margin-top: 0.12rem;
}
.procedure p:first-child span:nth-child(5){
	display: block;
	background: url(../img/zhifubao.png);
	background-size: 100%;
	width: 0.35rem;
	height: 0.35rem;
	margin-left: 0.375rem;
}


.procedure p:nth-child(2){
	height: 0.2rem;
	font-size: 0.14rem;
	color: #666;
	margin-top: 0.18rem;
}
.procedure p:nth-child(2) span:first-child{
	display: block;
	float: left;
	margin-left: 0.28rem;
}
.procedure p:nth-child(2) span:nth-child(2){
	float: left;
	display: block;
	margin-left: 0.8rem;
}
.procedure p:nth-child(2) span:nth-child(3){
	float: left;
	display: block;
	margin-left: 0.7rem;
}